page-list {
  .toolbar-background {
    background-color: #1E90FF;
  }


.getstart {
  background-image: url('../img/1511.jpg');
background: url('../img/1511.jpg');
width: 100%;
background-repeat: no-repeat;
background-size:cover;
margin: auto;
}
}
